body{
    background-color: rgb(0,0,0,0.2);
     position: fixed; 
     /* opacity: 3; */
    /* opacity: 1;  */
    top:0;
    left:0;
    height: 100vh;
    width:100vw;
    align-items: center;
    justify-content: center;
    position: fixed;
     z-index: 1;
     display: none;

} 
form{
    margin:8%;
    text-align: center;
    color: aliceblue;
    /* opacity: 0; */
    /* pointer-events: none; */
    box-sizing: border-box;

    box-shadow: rgb(0, 0, 0, 0.5);  
    background-color: rgb(44, 141, 141);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    /* width: 600px; */
    /* max-width: 100%; */
    /* z-index: 3; */
}
body.show{
    /* opacity: 0; */
    pointer-events: auto;
}


.home-page-signup-container{
    background-color: rgb(35, 35, 63);
    border-radius: 1em 1em 0 0;
}
.home-page-signin-container{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
label{
    padding: 15px;
}
.registerbtn{
    padding: 10px 25px;
    margin: 10px;
    border-radius: 1em;
}
form #close{
    display: block;
    /* position: absolute; */
    /* justify-content: end; */
    /* padding-left: 0px; */
    border-radius: 50%;
    padding: 10px;
    margin-left: 1px;
    margin-top: 1px;
    /* top: 10px; 
    right: 10px;
    width: 15px;
    height: 15px;  */
    background: rgb(252, 109, 27);
    color:rgb(255, 251, 251);
    /* /* text-align: center; * */
    /* line-height: 15px;
    border-radius: 15px; */
    cursor: pointer;
} 
body{
    display: block;

}
body.active form{
    transform: translate (-50% -50%) scale(0);
}