@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body{
  background-color: #fff;
}
/* Styling the filter section */

.cat-content-container {
  width: 100%;
  padding: 20px;
}
.inner-cat-content-container {
    display: flex;
}
.cat-nav-filter-options {
    width: min(90%, 250px);
}

.cat-nav-filter-options > * {
    border-radius: 5px;
    background-color: #f3f3f3;
    margin-bottom: 10px;
}
.cat-nav-header-filter-title {
    padding: 15px;
    font-size: 20px;
}

/* Styling the filter options */

.cat-nav-filter-option {
    padding: 15px;
    font-size: 16px;

}

.cat-nav-filter-title {
    color: rgb(22, 81, 129);
    font-weight: bold;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cat-nav-filter-title .toggle-arrow {
    border-left: 2px solid #757575;
    border-bottom: 2px solid #757575;
    height: 10px;
    width: 10px;
    transform: rotate(136deg);
    transition: all 0.3s ease-in; 
}

.cat-nav-filter-title .toggle-arrow.active {
    transform: rotate(-45deg);
    margin-bottom: 5px;
} 

.cat-nav-filter-title:hover {
    cursor : pointer;

}
.cat-nav-filter-option ul li {
    list-style-type: none;
    padding: 0px 0px 8px 8px;
}

.cat-nav-filter-option .filter-content {
    display: block;
}
.filter-content.deactive {
    display: none;
}

/* Side content styling */

.cat-side-content {
    flex-grow: 2;
    margin-left: 25px;
    position: relative;
}

/* Shop by ____ title Style */ 

.cat-side-content-title {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.cat-side-content-title span{
    position: relative;
    padding: 10px;
    text-align: center;
}
.cat-side-content-title span:after {
    content: "";
    position: absolute;
    width: 65%;
    margin: 0 auto;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #757575;
}

.cat-shop-by-brand, .cat-shop-by-price, .cat-shop-by-processor {
    padding : 5px;
}
.cat-shop-by-brand-container {
    background-color: #F3F3F3;
    padding-top: 10px;
    margin-bottom: 10px;
}
.cat-available-brands, .cat-available-size {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 20px;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
}
.cat-available-brands a,
.cat-available-size a {
    margin: auto;
}

/* Shop by brand image styles */

.cat-available-brands a {
    transform: translateY(90px);
    opacity: 0;
}
.cat-available-size a{
    transform: translateY(90px);
    opacity: 0;
}
.cat-brand-img {
    max-width: 220px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    overflow: hidden;
}
.cat-brand-img img {
    width: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}
.cat-brand-img:hover img {
    transform: scale(1.03);
}

#brand-4, #size-4 {
    transition: all 0.4s ease-out;
}
#brand-3, #size-3 {
    transition: all 0.8s ease-out;
}
#brand-2, #size-2 {
    transition: all 1.2s ease-out;
}
#brand-1, #size-1 {
    transition: all 1.6s ease-out;
}
#brand-4.active,
#brand-3.active,
#brand-2.active,
#brand-1.active,
#size-4.active,
#size-3.active,
#size-2.active,
#size-1.active
 {
    opacity: 1;
    transform: translateY(0px);
} 

/* shop by size image styles */

.cat-shop-by-size-img {
    max-width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.cat-shop-by-size-img img {
    width: 100%;
    transition: all 0.4s ease-in-out;
    object-fit: cover;
}
.cat-shop-by-size-img:hover img{
    transform: scale(1.03);
}
.cat-available-size a{
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #000;  
}

/* shop by price */

.cat-shop-by-price-container {
    background-color: #F3F3F3;
    margin: 20px;
    padding: 20px;
}
.cat-price-ranges {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 15px;
    /* margin-top: 3em;
    margin-bottom: 2em; */
    margin: 3em auto;
}

.cat-price-ranges a{
    border: 1px solid rgb(97, 95, 95);
    padding : 18px;
    margin-right: 10px;
    flex-wrap: nowrap;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    color: #000;
    transition: all 0.3s ease-out;
    margin: auto;
}

.cat-price-ranges a:hover{
    background-color: rgb(65, 63, 63);
    color: #fff;
}

/* Shop by processor */

.cat-shop-by-processor-container {
    padding : 20px;
    margin: 0px auto;
}
.cat-shop-by-processor {
    margin-top: 3em;
}
.cat-available-processors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 25px;
}
.cat-shop-by-processor a {
    margin: auto;
}
.cat-shop-by-processor-img {
    font-size: 3em;
    max-width: 250px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 12px;
    transition: all 0.5s ease-out;
    align-self: center;
}

.cat-shop-by-processor-img:hover{
    box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.08);
    transform: scale(1.03);
}
.cat-shop-by-processor-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cat-available-processors a {
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: 18px;
}

/* Styling middle page banner */

.middle-page-banner-container {
    margin-top: 2.5em;
    padding : 20px;
    display: flex;
    cursor: pointer;
}

.middle-page-banner {
    background-image: url('https://cdn.shopclues.com/images/banners/Work/wired_laptop_clp/ShopClues_trending_01.jpg');
    width: 60%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.banner-img-description {
    background-color: #94D48A;
    padding: 3em;
    margin: 10px 0px 10px 0px;
    flex-grow: 2;
}

.banner-description-title {
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1.2em;
}

.banner-shop-now-btn,
.banner-shop-now-btn-2,
.banner-shop-now-btn-3 {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 5px 25px 5px 25px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.banner-shop-now-btn:hover {
    background-color: #fff;
    color: #94D48A;
}

.banner-img-description-2 {
    background-color: #8AB2D5;
    padding: 3em;
    margin: 10px 0px 10px 0px;
}
.middle-page-banner-2 {
    background-image: url('https://cdn.shopclues.com/images/banners/Work/wired_laptop_clp/ShopClues_trending_03.jpg');
    flex-grow: 2;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.banner-shop-now-btn-2:hover {
    background-color: #fff;
    color: #8AB2D5;
}

.middle-page-banner-3 {
    background-image: url('https://cdn.shopclues.com/images/banners/Work/wired_laptop_clp/ShopClues_trending_05.jpg');
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 350px;
    
}
.banner-img-description-3 {
    background-color: #D189D3;
    padding: 3em;
    margin: 10px 0px 10px 0px;
    flex-grow: 2;
}
.banner-shop-now-btn-3:hover {
    background-color: #fff;
    color: #D189D3;
}
.banner-description {
    margin-bottom: 4em;
    font-size: 18px;
}
/* sample-grid-display-products style */

.sample-grid-display-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 5px;
    
}
.inner-sample-grid-display-products {
    width: min(90%, 250px);
    padding: 10px;    
}
.sample-grid-display-products-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sample-grid-display-products-img {
    width: 100%;
    box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.08);
    margin-bottom: 10px;
}
.sample-grid-display-products-img img{
    width: 100%;
    object-fit: cover;
}

.product-title {
    font-size: 18px;
    margin-bottom: 6px;
}
.product-details {
    width: 100%;
    height: 0;
    visibility: hidden;
    margin: 0 auto;
    text-align:left;
    transition: all 0.2s ease-in-out;
    padding: 10px;
    opacity: 0;
   
}
.product-details div {
    margin-top: 10px;
    margin-bottom: 8px;
}

.product-details.active {
    visibility: visible;
    height: 300px;
    margin-bottom: 10px;
    opacity: 1;
}
.show-details {
    content: "";
    border-bottom: 2px solid #757575;
    border-right: 2px solid #757575;
    width: 10px;
    height: 10px;
    display: block;
    transform: rotate(45deg);
    margin: 0px auto;   
    transition: transform 0.3s ease-in-out;
}
.show-details.expand-rotate {
    transform: rotate(225deg);
    margin-top: 10px;
}
.add-to-cart-btn {
    display: flex;
    margin: 15px auto;
    justify-content: center;
      
    
}
.add-to-cart-btn button {
    padding: 7px 30px;
    width: 90%;
    cursor: pointer;
    background-color: rgb(79, 149, 206);
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;  
}
.add-to-cart-btn:hover button {
    background-color: rgb(22, 81, 129);
}

.compare {
    margin: 10px;
    font-size: 18px;
}

.content-1 {
    transition: all 0.3s ease-out;
}
.content-2{
    transition: all 0.6s ease-out;
}
.content-3 {
    transition: all 0.9s ease-out;
}
.content-4{
    transition: all 1.2s ease-out;
}
.content.hide--section {
    opacity: 0;
    transform: translateY(90px);
}

footer {
    margin-top: 100px;
    background-color: #172337;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    min-height: 20em;
}

footer div {
    margin: 100px auto;
    height: 50px;
}
footer li {
    list-style-type: none;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer li:hover {
    color: #4F95CE;
}
footer h5 {
    color: #fff;
    margin: 10px auto;
    letter-spacing: 2px;
}
@media screen and (max-width: 55rem) {
   
    .cat-nav-filter-options {
        display: none;
    }
    .middle-page-banner-container {
        display: flex;
        flex-flow: column;
        border-radius: 8px;
        box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.08);
        margin: 10px 9px 25px 9px;
    }

    .middle-page-banner-2 {
        order: 1;
    }
    .banner-img-description-2 {
        order: 2;
    }
    .inner-sample-grid-display-products {
        margin: 0px auto;
        align-self: flex-start;
    }
    .banner-img-description,
    .banner-img-description-2,
    .banner-img-description-3 {
        width: 100%;
        margin: 0 auto;
        background: transparent;
        padding: 10px;
        
    }
    .middle-page-banner {
        width: 100%;
    }
    .middle-page-banner-2 {
        width: 100%;
        height: 350px;
    }
    .middle-page-banner-3 {
        width: 100%;
    }
    .banner-shop-now-btn,
    .banner-shop-now-btn-2,
    .banner-shop-now-btn-3 {
        color: #000;
        border: 1px solid rgb(70, 69, 69);
        margin: 0 auto;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner-description {
        margin-bottom: 1em;
    }
}

