@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body{ 
   background-color: #ffffff; 
   min-height: 100vh;
   position: relative;
}  

/* Styling Hero section */
h1{
    text-align: center;
    color: black;
}
.home-page-hero-section{
   font-size: 25px;
   font-weight: bold;
   display: flex;
}
.promotion-section{
    text-align: center;
    width: 50%;
    background: linear-gradient(to right, #f3f3f5,#ffffff);
}
.heroSlides{
   text-align: center;
   justify-content: center;
   transition: 5s;
   animation: fade 20s infinite;
}
.hero-image {
    width: 50%;
} 
.heroSlides img{
   margin: 0;
   height: 18em;
   width: 100%;
}
.first-image{
    width: 300px;
    height: 200px;
}

@keyframes fade{
    0%{
        opacity: 0.6;
    }
    20%{
        opacity: 0.8;
    }
    50%{
        opacity: 0.9;
    }
    75%{
        opacity: 1;
    }
    80%{
        opacity: 0.9;
    }
    90%{
        opacity: 0.8;
    }
    100%{
        opacity: 0.4;
    }
 }
 .heroSlides{
    font-size: 20px;
    font-weight: bold;
 }
 .hero-text{
     overflow: hidden;
     margin: 100px auto;
     text-align: center;
    justify-content: center;
    transition: 5s;
    animation: fade 20s infinite;
 }
 
 @keyframes fade{
     0%{
        opacity: 0.4;
        transform: translateY(20px);
     
     }
     50%{
         opacity: 0.7;
         transform: translateY(10px);
     }
     100%{
         opacity: 1;
         transform: translateY(0px);
     }
 
 } 
 /* Nav bar css part */
/* #navbar {
    background-color: burlywood;
} */

.home_nav{
    display: flex;
    justify-content: space-around;
    background:rgb(231, 231, 233);
}
.logo-home-page-header-search-button{
    display: flex;
    width: 70%;
    /* background-color: #771; */
    justify-content: space-around; 
    align-items: center;
}
.home_nav .logo{
    /* width: 5%;
    height: 5%;   
    border-radius: 50%; */
    max-width: 90px;
    height: 70px;
    border-radius: 50%;

}
.home-page-header-search-button{
    margin: 20px;
    display: flex;
    align-items: center;
    background: #fff;
    border: none;
    border-radius: 2em;
    width: 70%;
    height: 35px;
}
.search-1{
    background-color: #ffffff;
    border: none;
    border-radius: 1em;
    width: 90%;
    height: 100%;
    margin-left: 0px;
    padding-left: 10px;
}
.search-1:focus {
    border: none;
    outline: none;
    border-color: #fff;
    border: 0px solid #fff;
}

.both_cart_sign{
    margin: 10px;
    align-items: center;
    width: 15%;
    gap: 10px;
    justify-content: space-around;

    /* padding: 10px; */
    /* border: #000 solid; */
    /* background-color: #771; */
    display: flex;
    /* flex-direction: row; */
    /* float: left; */
}
.home-page-header-cart{
    margin: 10px;
    padding: 10px;
}
.home_nav_registeration{
    padding: 10px;
    width: 150px;
    /* margin: 10px; */
    border-radius: 1em;   
 }
.registration_nav{
    margin: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(5, 4, 4, 0.6);
    position: absolute;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    display: inline-block;
    display: none;
    justify-content: center;
    align-items: center;
}
.registration_form_box{
    border-radius: 1em;
    width: 390px;
    height: 87%;
    position: relative;
    margin: 4% auto;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;  
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #fcfcfc;
    display:flex;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    border: 0;
    outline: none;
    position: relative;
    background: transparent;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ffb0a9,#bec6c9);
    border-radius: 30px;
    transition: .5s;
}
.social-icons{
    margin: 30px auto;
    text-align: center;
}
.social-icons img{
    margin: 0 12px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 #dad7d1;
    cursor: pointer;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}
.Submit-btn{
    font-size: 16px;
    width: 60%;
    margin: 10px auto;
    padding:  10px 20px;
    cursor: pointer;
    display: block;
    margin: 30px;
    background: rgb(216, 214, 214);
    border-radius: 30px;
    outline: none;
    border: 0;

}
.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #771;
    font-size: 14px;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}
.close{
    position: absolute;
    right: 15px;
    font-size: 45px;
    transform: rotate(45deg);
    top: 0;
    cursor: pointer;
}



.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  .sticky + .content {
    padding-top: 0px;
  }
/* Styling the filter section */

.cat-content-container {
  width: 100%;
  padding: 20px;
}
.inner-cat-content-container {
    display: flex;
}
.cat-nav-filter-options {
    width: min(90%, 250px);
}

.cat-nav-filter-options > * {
    border-radius: 5px;
    background-color: #f3f3f3;
    margin-bottom: 10px;
}
.cat-nav-header-filter-title {
    padding: 15px;
    font-size: 20px;
}

/* Styling the filter options */

.cat-nav-filter-option {
    padding: 15px;
    font-size: 16px;

}

.cat-nav-filter-title {
    color: rgb(22, 81, 129);
    font-weight: bold;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cat-nav-filter-title .toggle-arrow {
    border-left: 2px solid #757575;
    border-bottom: 2px solid #757575;
    height: 10px;
    width: 10px;
    transform: rotate(136deg);
    transition: all 0.3s ease-in; 
}

.cat-nav-filter-title .toggle-arrow.active {
    transform: rotate(-45deg);
    margin-bottom: 5px;
} 

.cat-nav-filter-title:hover {
    cursor : pointer;

}
.cat-nav-filter-option ul li {
    list-style-type: none;
    padding: 0px 0px 8px 8px;
}

.cat-nav-filter-option .filter-content {
    display: block;
}
.filter-content.deactive {
    display: none;
}

/* Side content styling */

.cat-side-content {
    flex-grow: 2;
    margin-left: 25px;
    position: relative;
}

/* Shop by ____ title Style */ 

.cat-side-content-title {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.cat-side-content-title span{
    position: relative;
    padding: 10px;
    text-align: center;
}
.cat-side-content-title span:after {
    content: "";
    position: absolute;
    width: 65%;
    margin: 0 auto;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #757575;
}

.cat-shop-by-brand, .cat-shop-by-price, .cat-shop-by-processor {
    padding : 5px;
}
.cat-shop-by-brand-container {
    background-color: #F3F3F3;
    padding-top: 10px;
    margin-bottom: 10px;
}
.cat-available-brands, .cat-available-size {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 20px;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
}
.cat-available-brands a,
.cat-available-size a {
    margin: auto;
}

/* Shop by brand image styles */

.cat-available-brands a {
    transform: translateY(90px);
    opacity: 0;
}
.cat-available-size a{
    transform: translateY(90px);
    opacity: 0;
}
.cat-brand-img {
    max-width: 220px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    overflow: hidden;
}
.cat-brand-img img {
    width: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}
.cat-brand-img:hover img {
    transform: scale(1.03);
}

#brand-4, #size-4 {
    transition: all 0.4s ease-out;
}
#brand-3, #size-3 {
    transition: all 0.8s ease-out;
}
#brand-2, #size-2 {
    transition: all 1.2s ease-out;
}
#brand-1, #size-1 {
    transition: all 1.6s ease-out;
}
#brand-4.active,
#brand-3.active,
#brand-2.active,
#brand-1.active,
#size-4.active,
#size-3.active,
#size-2.active,
#size-1.active
 {
    opacity: 1;
    transform: translateY(0px);
} 

/* shop by size image styles */

.cat-shop-by-size-img {
    max-width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.cat-shop-by-size-img img {
    width: 100%;
    transition: all 0.4s ease-in-out;
    object-fit: cover;
}
.cat-shop-by-size-img:hover img{
    transform: scale(1.03);
}
.cat-available-size a{
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #000;  
}

/* shop by price */

.cat-shop-by-price-container {
    background-color: #F3F3F3;
    margin: 20px;
    padding: 20px;
}
.cat-price-ranges {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 15px;
    /* margin-top: 3em;
    margin-bottom: 2em; */
    margin: 3em auto;
}

.cat-price-ranges a{
    border: 1px solid rgb(97, 95, 95);
    padding : 18px;
    margin-right: 10px;
    flex-wrap: nowrap;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    color: #000;
    transition: all 0.3s ease-out;
    margin: auto;
}

.cat-price-ranges a:hover{
    background-color: rgb(65, 63, 63);
    color: #fff;
}

/* Shop by processor */

.cat-shop-by-processor-container {
    padding : 20px;
    margin: 0px auto;
}
.cat-shop-by-processor {
    margin-top: 3em;
}
.cat-available-processors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 25px;
}
.cat-shop-by-processor a {
    margin: auto;
}
.cat-shop-by-processor-img {
    font-size: 3em;
    max-width: 250px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 12px;
    transition: all 0.5s ease-out;
    align-self: center;
}

.cat-shop-by-processor-img:hover{
    box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.08);
    transform: scale(1.03);
}
.cat-shop-by-processor-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cat-available-processors a {
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: 18px;
}

/* Styling middle page banner */

.middle-page-banner-container {
    margin-top: 2.5em;
    padding : 20px;
    display: flex;
    cursor: pointer;
}

.middle-page-banner {
    background-image: url('https://cdn.shopclues.com/images/banners/Work/wired_laptop_clp/ShopClues_trending_01.jpg');
    width: 60%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.banner-img-description {
    background-color: #94D48A;
    padding: 3em;
    margin: 10px 0px 10px 0px;
    flex-grow: 2;
}

.banner-description-title {
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1.2em;
}

.banner-shop-now-btn,
.banner-shop-now-btn-2,
.banner-shop-now-btn-3 {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 5px 25px 5px 25px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.banner-shop-now-btn:hover {
    background-color: #fff;
    color: #94D48A;
}

.banner-img-description-2 {
    background-color: #8AB2D5;
    padding: 3em;
    margin: 10px 0px 10px 0px;
}
.middle-page-banner-2 {
    background-image: url('https://cdn.shopclues.com/images/banners/Work/wired_laptop_clp/ShopClues_trending_03.jpg');
    flex-grow: 2;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.banner-shop-now-btn-2:hover {
    background-color: #fff;
    color: #8AB2D5;
}

.middle-page-banner-3 {
    background-image: url('https://cdn.shopclues.com/images/banners/Work/wired_laptop_clp/ShopClues_trending_05.jpg');
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 350px;
    
}
.banner-img-description-3 {
    background-color: #D189D3;
    padding: 3em;
    margin: 10px 0px 10px 0px;
    flex-grow: 2;
}
.banner-shop-now-btn-3:hover {
    background-color: #fff;
    color: #D189D3;
}
.banner-description {
    margin-bottom: 4em;
    font-size: 18px;
}
/* sample-grid-display-products style */

.sample-grid-display-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 5px;
    
}
.inner-sample-grid-display-products {
    width: min(90%, 250px);
    padding: 10px;    
}
.sample-grid-display-products-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sample-grid-display-products-img {
    width: 100%;
    box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.08);
    margin-bottom: 10px;
}
.sample-grid-display-products-img img{
    width: 100%;
    object-fit: cover;
}

.product-title {
    font-size: 18px;
    margin-bottom: 6px;
}
.product-details {
    width: 100%;
    height: 0;
    visibility: hidden;
    margin: 0 auto;
    text-align:left;
    transition: all 0.2s ease-in-out;
    padding: 10px;
    opacity: 0;
   
}
.product-details div {
    margin-top: 10px;
    margin-bottom: 8px;
}

.product-details.active {
    visibility: visible;
    height: 300px;
    margin-bottom: 10px;
    opacity: 1;
}
.show-details {
    content: "";
    border-bottom: 2px solid #757575;
    border-right: 2px solid #757575;
    width: 10px;
    height: 10px;
    display: block;
    transform: rotate(45deg);
    margin: 0px auto;   
    transition: transform 0.3s ease-in-out;
}
.show-details.expand-rotate {
    transform: rotate(225deg);
    margin-top: 10px;
}
.add-to-cart-btn {
    display: flex;
    margin: 15px auto;
    justify-content: center;
      
    
}
.add-to-cart-btn button {
    padding: 7px 30px;
    width: 90%;
    cursor: pointer;
    background-color: rgb(79, 149, 206);
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;  
}
.add-to-cart-btn:hover button {
    background-color: rgb(22, 81, 129);
}

.compare {
    margin: 10px;
    font-size: 18px;
}

#content-1 {
    transition: all 0.3s ease-out;
}
#content-2{
    transition: all 0.6s ease-out;
}
#content-3 {
    transition: all 0.9s ease-out;
}
#content-4{
    transition: all 1.2s ease-out;
}
.content.hide--section {
    opacity: 0;
    transform: translateY(90px);
}
/* .reveal-slowly > .content.{
    
} */

@media screen and (max-width: 55rem) {
    .cat-nav-filter-options {
        display: none;
    }
    .middle-page-banner-container {
        display: flex;
        flex-flow: column;
        border-radius: 8px;
        box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.08);
        margin: 10px 9px 25px 9px;
    }

    .middle-page-banner-2 {
        order: 1;
    }
    .banner-img-description-2 {
        order: 2;
    }
    .inner-sample-grid-display-products {
        margin: 0px auto;
        align-self: flex-start;
    }
    .banner-img-description,
    .banner-img-description-2,
    .banner-img-description-3 {
        width: 100%;
        margin: 0 auto;
        background: transparent;
        padding: 10px;
        
    }
    .middle-page-banner {
        width: 100%;
    }
    .middle-page-banner-2 {
        width: 100%;
        height: 350px;
    }
    .middle-page-banner-3 {
        width: 100%;
    }
    .banner-shop-now-btn,
    .banner-shop-now-btn-2,
    .banner-shop-now-btn-3 {
        color: #000;
        border: 1px solid rgb(70, 69, 69);
        margin: 0 auto;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner-description {
        margin-bottom: 1em;
    }
}

